table, th, td {
    border: 1px solid black;
}

table th {
 background-color: black;   
 color: wheat;
}

#customers th{
    background-color: #04aa6d;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    
}